<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_alien"
        android:label="ELEng"
        android:roundIcon="@mipmap/ic_alien_round"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyLearnEnglish"
        tools:targetApi="31">
        <activity
            android:name=".info"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".profil"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".puzzle.game_hard"
            android:exported="false" />
        <activity
            android:name=".puzzle.game_medium"
            android:exported="false" />
        <activity
            android:name=".puzzle.game_easy"
            android:exported="false" />
        <activity
            android:name=".dengarbaca.cerita_taman"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".dengarbaca.ceritaSemut"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".dengarbaca.bacadengar"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ujian.skor_gambar"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ujian.tebakGambar"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".puzzle.game"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ujian.ulangan"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ujian.skor"
            android:label="Skor Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".materi.time"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".materi.object"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".materi.verb"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ujian.kuis"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".splashscreen"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
    </application>

</manifest>